#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  background: linear-gradient(90deg, #535bf2, #64d6ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 5rem;
}
